<!DOCTYPE html>
<html>
<head>
    <title>Book List PDF</title>
    <style>
        body { font-family: Arial, sans-serif; }
        h2 { text-align: center; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h2>Book List</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                 <td>{{ book.title }}</td>
                 <td>
                    {% for author in book.authors.all %}
                       {{ author.name }},
                    {% endfor %}
                 </td>
                 <td>{{ book.publisher.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
